<div id="all-recup" >

    <mat-card *ngFor="let item of listRecup" [ngClass]="{passed: item.isDatePassed === true }">
        
        <div [ngClass]="{disabledIT: item.isDatePassed === true}">
            <h3> New Récup dispo !</h3>
            <p>{{  item.adress }}</p>
            <hr>
            <div class="superficies">
                <p>Toiture: <span class="boldit">{{ item.superficies ?   item.superficies + ' m2' : 'non-renseigné' }}</span></p>
                <!-- Composant dynamique qui chargerais l'espace correspondant a la superficie ' -->
            </div>
            
            <p>Date de passage: <span class="boldit">{{ item.dateofpassage }}</span></p>
            
            <a *ngIf="item.isDatePassed === false" mat-stroked-button color="accent" (click)="navigateplease( item.id )">
                Détail de récuperation
            </a>
        </div>

        <div class="recup-finished" *ngIf="item.isDatePassed === true">
           <button disabled>
               Recuperation effectué
           </button> 
        </div>
    </mat-card>

    <div *ngIf="error" class="error">
        Aucune récuperation existante
        <hr>
        Detail: {{ error.error }}
    </div>
    
</div>