#all-recup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    // margin-top: 25px;
    position: relative;
}

mat-card {
    width: 40%;
    margin: 35px;
    padding: 15px;
}

hr {
    border-color:#c2185b;
    opacity: 0.8;
}

.boldit {
    text-align: center;
    font-weight: bold;
}

mat-card.passed {
    background-color: #B22222 !important;
    cursor: pointer;
}

.recup-finished {
    position: absolute;
    right: 6px;
    bottom: 22px;
    transform: rotate(-15deg);
}

.recup-finished button {
    padding: 14px;
    background-color: #607d8b;
    border: aliceblue;
    border-radius: 11px;
    color: black;
    text-transform: uppercase;
}

.disabledIT {
    opacity: 0.3;
}
.disabledIT:hover {
    cursor: not-allowed;
}