
<mat-spinner *ngIf="isLoading"></mat-spinner>

<form *ngIf="!isLoading" [formGroup]="registerFormGroup" class="register_form" (ngSubmit)="onSubmit()">

  <mat-form-field class="register_full_width">
    <input 
        matInput type="text" formControlName="firstname" 
        placeholder="PRÉNOM" required>
  </mat-form-field>

  <mat-form-field class="register_full_width">
    <input
        matInput type="text" formControlName="lastname" 
        placeholder="NOM" required>
  </mat-form-field>

  <mat-form-field class="register_full_width">
    <input 
        matInput type="email" formControlName="email" 
        placeholder="EMAIL" required>
  </mat-form-field>

  <mat-form-field class="register_full_width">
    <input 
        matInput type="number" formControlName="phonenumber"
        placeholder="NUMERO DE TELEPHONE" required>
  </mat-form-field>

  <mat-form-field class="register_full_width">
    <input 
        matInput type="password" formControlName="password" 
        placeholder="MOT DE PASSE" required>
  </mat-form-field>

  <mat-form-field class="register_full_width">
    <input 
        matInput type="password" formControlName="confirmPassword" 
        placeholder="CONFIRMER LE MOT DE PASSE" required>
  </mat-form-field>

  <div class="register_full_width center">
    <button 
        class="register_button primary_button" 
        mat-flat-button type="submit"
         color="primary"
        [disabled]="!registerFormGroup.valid">JE M'INSCRIS</button>
  </div>

</form>