<section>
    <div class="main-block">
        <h2>Qui sommes nous ?</h2>

        <div class="block-image">
            <p>
                <span>Recap'tuile'</span> est une plateforme pour mettre en relation les personnes qui désirent se débarassé des tuiles usés et les entreprises qui
                désirent récupérer de la matieres premières dans le but de moins gaspiller les ressources de notre planete.
            </p>

            <img src="https://via.placeholder.com/250" alt="">
        </div>
        
        <div class="block-image">

            <img src="https://via.placeholder.com/250" alt="">

            <p>
                Pour ce faire on a décidé de mettre en relations les particuliers et les entreprises dnas le BTP ( ou autres ) pour récuperer les tuiles usées 
                pour leurs donner une deuxième vie.
            </p>


        </div>

        <div class="block-image">

            <p>
                Nous sommes certains du bien fondé de notre démarche et éspère contribuer du mieux qu'on peut à la préservations des ressources de notre planète
            </p>

            <img src="https://via.placeholder.com/250" alt="">

            
        </div>

        <div class="block-image">
            <img src="https://via.placeholder.com/150" alt="">

            <p>
                <span>Recap'tuile'</span> est pour nous la porte d'entrée vers d'autres transformation écologique et nous serons fier d'étendre le principe 
                sur d'autres produits.
            </p>
        </div>
    </div>

    <div>

    </div>
</section>