section {
    div.main-block {

        width: 80%;
        margin: auto;

        h2{
            text-align: center;
        }

        .block-image {
            display: flex;
            padding: 20px;
            justify-content: space-evenly;
            
            p {
                align-self: center;
                width: 60%;
                padding: 20px;
            }
            img {
                width: 40%;
            }
        }
    }
}