.card {
    width: 70%;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;

    mat-form-field {
        width: 100%;
    }

    .button-actions {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}