
<div class="card">

    <p>
        Entrer nouveau mot de passe
    </p>
    <form [formGroup]="resetFormGroup" class="login_form" (ngSubmit)="onSubmit()">
        
        <mat-form-field class="login_full_width">
            <input 
            matInput type="password" 
            formControlName="newPassword" placeholder="Mot de passe" required>
        </mat-form-field>
        
        <mat-form-field class="login_full_width">
            <input 
            matInput type="password" 
            formControlName="confirmPassword" placeholder="Confirmer mot de passe" required>
        </mat-form-field>
        
        <div class="button-actions">
            
            <button 
            mat-flat-button class="" 
            color="primary" 
            type="submit" [disabled]="!resetFormGroup.valid">
                Valider nouveau mot de passe
            </button>
        </div>
    </form>
</div>