.how-it-work {
    padding: 20px;
}

.link {
    color: red;
    background-color: lightgrey;
    padding:  3px 6px;
    margin: 0 3px;
    text-decoration: none;
    border: 3px;
}

a:hover {
    cursor: pointer;
}