<section class="how-it-work">
    <h3>A quoi sa sert recup'tuile ?'</h3>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum eos veniam beatae neque nisi?
         Dolore, enim distinctio non voluptates assumenda, nulla incidunt nemo quibusdam aperiam eligendi, 
         iusto rem minus voluptate!
    </p>

    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae veniam, doloremque ipsum dolores distinctio quas quos, 
        perferendis quasi expedita nihil aperiam sapiente labore officiis in quam ratione, maxime praesentium non!
    </p>
    <p>
        Pour tout autre renseignement ou nous contacter, notre page 
       
            <a class="link" routerLink="['/contact']">contact</a>
    
        le fera trés bien.
    </p>
</section>
