.login_form {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  padding-bottom: 6px;
}

.login_full_width {
  width: 100%;
  margin-top: .5em;
}


.login_button {
  margin-top: 1.5em;
  display: block;
  margin: auto;
}

mat-spinner {
  display: block;
  margin: 100px auto;
}

.button-actions {
  display: flex;
  justify-content: space-between;
}