
<mat-spinner *ngIf="isLoading"></mat-spinner>

<form *ngIf="!isLoading" [formGroup]="loginForm" class="login_form" (ngSubmit)="onSubmit()">

  <mat-form-field class="login_full_width">
    <input matInput type="email" formControlName="email" placeholder="EMAIL" required>
  </mat-form-field>

  <mat-form-field class="login_full_width">
    <input matInput type="password" formControlName="password" placeholder="MOT DE PASSE" required>
  </mat-form-field>

    <button mat-flat-button class="login_button primary_button" color="primary" type="submit" [disabled]="!loginForm.valid">
      JE ME CONNECTE
    </button>
</form>