.nav-recup{

    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;

    button {
        background-color: #3b5998;
        padding: 18px;
        font-family: 'Lato';
        font-size: 18px;
        color: white;
    }

    button.active{
        color :white;
        background-color: #1A1D24;
    }

}