<div class="newRecup" >
    <h3>Nouvelle demande</h3>

    <form [formGroup]="newRecupForm" (ngSubmit)="onSubmit()">
      
      <mat-form-field class="adress-input">
        <input matInput type="text"  formControlName="adress"
        placeholder="ex: 13 rue de la paix" required>
      </mat-form-field>

      <div class="fifty-fifty">
        <mat-form-field>
          <input matInput type="text"  placeholder="number of m2"  formControlName="superfices" 
          placeholder="ex: 50 m2" required>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput placeholder="Date de passage"
          formControlName="dateofpassage" [matDatepicker]="picker" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <button type="submit">Valider</button>
    </form>
</div>