<div class="pass-forgot">
    <div class="close" >
        <button type="button" (click)="onReturn()">
            X
        </button>
    </div>

    <h3>On vous renvoi un mot de passe ?</h3>
    <form [formGroup]="passFormGroup" (ngSubmit)="onSubmit()">

        <mat-form-field class="login_full_width">
            <input 
            matInput 
            type="text" 
            formControlName="emailPassForgotten"
            placeholder="EMAIL"
            >
        </mat-form-field>

        <div class="button-actions">
            <button
                mat-flat-button color="primary" 
                mat-input-button type="submit">
            Envoyer
            </button>
        </div>
    </form>
</div>