.detail {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;

   
}

mat-card {
    padding: 40px;
}

.recap-space-time {
    display: flex;
    justify-content: space-around;
    border: 1px solid lightgrey;
    padding: 30px;
}

agm-map {
    height: 300px;
}

.recap-space-time button {
    margin: 0 10px;
    background-color: transparent;
    border: none;
}