<div class="detail">

    <mat-card>
        <p>Numéro référence: {{ detailItem.id}}</p>

        <div class="recap-space-time">
            <span>Supérficie: {{  detailItem.superfices ? detailItem.superfices + ' m2' : '' }}</span>
            <span>Date prévu de passage: {{  detailItem.dateofpassage }} </span>
        </div>

        <div class="gmap">
            <!-- TODO implement component visualisation ou gmap classque dans un premier temp pk pas ? -->
        </div>
    </mat-card>

</div>